<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bookings - Bark n Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Your Bookings</h1>
    <table>
        <thead>
            <tr>
                <th>Dog</th>
                <th>Kennel</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr >
                <td class="{% if not booking.dog.name %}unoccupied{% endif %}">{{ booking.dog.name if booking.dog.name else 'Unoccupied' }}</td>
                <td>{{ booking.kennel_name }}</td>
                <td>{{ booking.check_in_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ booking.check_out_date.strftime('%Y-%m-%d')  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('host_home') }}">Back to Menu</a>
</body>
</html>
